@tailwind base;
@tailwind components;
@tailwind utilities;
.openseadragon-canvas {
    /* Forces the element onto its own GPU layer */
    transform: translateZ(0); 
    
    /* Tells the browser this element changes often */
    will-change: transform; 
    
    /* Prevents the gray selection box on tap */
    -webkit-tap-highlight-color: transparent;
}